absl-py==1.0.0
appdirs==1.4.4
astunparse==1.6.3
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1639166893812/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bcrypt @ file:///tmp/build/80754af9/bcrypt_1597936228934/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1631874778482/work
Bottleneck==1.3.2
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.0.0
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
conda==4.12.0
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262151086/work
constantly==15.1.0
cryptography @ file:///tmp/build/80754af9/cryptography_1639414570729/work
cssselect==1.1.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
Django==2.2.5
django-filter==21.1
et-xmlfile==1.1.0
flatbuffers==2.0
fonttools==4.25.0
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.6.0
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==4.10.1
incremental @ file:///tmp/build/80754af9/incremental_1636629750599/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipython @ file:///tmp/build/80754af9/ipython_1643818144432/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
jedi @ file:///tmp/build/80754af9/jedi_1644299024593/work
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282414123/work
libclang==13.0.0
lxml @ file:///tmp/build/80754af9/lxml_1640178246467/work
Markdown==3.3.6
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1638289681807/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
MouseInfo==0.1.3
mtcnn==0.1.1
munkres==1.1.4
numexpr @ file:///tmp/build/80754af9/numexpr_1640704205123/work
numpy==1.21.5
oauthlib==3.2.0
olefile==0.46
opencv-python==4.5.5.62
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
parsel @ file:///tmp/build/80754af9/parsel_1613041573795/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
patsy==0.5.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.4.0
pluggy @ file:///tmp/build/80754af9/pluggy_1633715207791/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1636635402688/work
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyDispatcher==2.0.5
pygame==2.1.2
PyGetWindow==0.0.9
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyHamcrest @ file:///tmp/build/80754af9/pyhamcrest_1615748656804/work
PyMsgBox==1.0.9
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.7
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.28
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
pytest==6.2.5
pytest-runner @ file:///tmp/build/80754af9/pytest-runner_1623663836848/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python3-xlib==0.15
pytweening==1.0.4
pytz==2021.3
pywhatkit==5.3
queuelib==1.5.0
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.1
rsa==4.8
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016701961/work
scikit-learn==1.0.2
scipy==1.7.3
Scrapy @ file:///tmp/build/80754af9/scrapy_1606864688029/work
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
statsmodels==0.13.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
torch==1.10.2+cpu
torchaudio==0.10.2+cpu
torchvision==0.11.3+cpu
tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
Twisted @ file:///tmp/build/80754af9/twisted_1636984133755/work
typing_extensions==4.0.1
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug==2.0.3
wikipedia==1.4.0
wrapt==1.13.3
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
zope.interface @ file:///tmp/build/80754af9/zope.interface_1625029694761/work
